body{   
    background-image:linear-gradient(45deg, rgb(65, 105, 225, 0.5), rgb(65, 105, 225, 0.125));
    background-attachment: fixed;
    text-align: center; 
    font-size: 150%; 
    margin: .2rem;
    margin-left:2.25;
    font-family: Consolas, monaco, monospace;
    text-style: monospace;
    width: auto;
    font-weight: 700;
    padding-top: .8rem;
  	padding-bottom: 9rem;
  	padding-left: 2.25rem;
  	/*border: 1px solid black;*/
  	box-sizing: inherit;
  	overflow: auto;
  	display:block;
    }
   
   h2{
   text-align:center; 
   text-transform: lowercase;
   text-decoration: bolder;
   font-size:225%; 
   font-family: Consolas, monaco, monospace;
   text-style: monospace;
   font-weight: 700;
   color: #4169E1;
   background-color: rgb(65, 105, 225, 0.125);
   /*text-shadow: 9px 9px midnight;*/
   padding: .5em .75em;
   }     
   
   a {
   background-color: rgb(65, 105, 225, 0.5);
   padding: .5em .75em;
   color:#4169E1;
   font-family: Consolas, monaco, monospace;
   text-style: monospace;
   text-decoration: bolder;
   font-size: 150%;
   font-weight: 700;
   overflow: auto;
   display:inline-block;
   margin: .5em .3em .5em .3em;
   }

	#asty:hover {color:#FF5733 ;
				background-image:linear-gradient(90deg, rgb((256, 88, 50, 0.1), rgb(65,105,225, 0.1));
				padding: .5em .75em;
				font-family: Consolas, monaco, monospace; 
				text-decoration-style: double;}


@media only screen and (max-width: 768px) {
  div {width: auto;
  padding-top: .225rem;
  padding-bottom: .225rem;
  padding-left: .225rem;
  padding-right: .225rem;
  /*border: 1px solid black;*/
  text-align: center;
  display: inline-block;
  overflow: auto;
  margin: .2em .2em .2em .2em;
  margin-left:.625rem;

  }
}

 
     
